<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a class="brand-link" th:href="@{/panel}">
        <!--        <img src="/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"-->
        <!--             style="opacity: .8">-->
        <span class="brand-text font-weight-light"><i class="nav-icon fas fa-book-open"></i> Kütüphane Otomasyon</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column nav-child-indent nav-legacy nav-flat"
                data-accordion="false" data-widget="treeview" role="menu">
                <!-- Add icons to the links using the .nav-icon class
                     with font-awesome or any other icon font library -->
                <li th:class="' nav-item has-treeview '+ ${#httpServletRequest.requestURI.contains('book') ? 'menu-open' : ''}">
                    <a th:class="' nav-link '+ ${#httpServletRequest.requestURI.contains('book') ? 'active' : ''}">
                        <i class="nav-icon fas fa-book"></i>
                        <p>
                            Kitap
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a th:href="@{/book/}"
                               th:class="' nav-link '+ ${#httpServletRequest.requestURI.endsWith('/') ? 'active' : ''}">
                                <i class="nav-icon fas fa-list"></i>
                                <p>Kitap Paneli</p>
                            </a>
                        </li>
                        <li class="nav-item"
                            th:if="${#strings.contains(#authentication.authorities,'ADMIN') or #strings.contains(#authentication.authorities,'MODERATOR')}">
                            <a class="nav-link" th:href="@{/book/new}">
                                <i class="nav-icon fas fa-plus"></i>
                                <p>Kitap Ekle</p>
                            </a>
                        </li>
                    </ul>
                </li>

                <li th:class="' nav-item has-treeview '+ ${#httpServletRequest.requestURI.contains('publisher') ? 'menu-open' : ''}">
                    <a th:class="' nav-link '+ ${#httpServletRequest.requestURI.contains('publisher') ? 'active' : ''}">
                        <i class="nav-icon fas fa-home"></i>
                        <p>
                            Yayın Evi
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="../index.html"
                               th:class="' nav-link '+ ${#httpServletRequest.requestURI.endsWith('/') ? 'active' : ''}">
                                <i class="nav-icon fas fa-list"></i>
                                <p>Yayın Evi Paneli</p>
                            </a>
                        </li>
                        <li class="nav-item"
                            th:if="${#strings.contains(#authentication.authorities,'ADMIN') or #strings.contains(#authentication.authorities,'MODERATOR')}">
                            <a class="nav-link" href="../index.html">
                                <i class="nav-icon fas fa-plus"></i>
                                <p>Yayın Evi Ekle</p>
                            </a>
                        </li>
                    </ul>
                </li>

                <li th:class="' nav-item has-treeview '+ ${#httpServletRequest.requestURI.contains('author') ? 'menu-open' : ''}">
                    <a th:class="' nav-link '+ ${#httpServletRequest.requestURI.contains('author') ? 'active' : ''}">
                        <i class="nav-icon fas fa-pen"></i>
                        <p>
                            Yazar
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a th:class="' nav-link '+ ${#httpServletRequest.requestURI.endsWith('/') ? 'active' : ''}"
                               th:href="@{/author/}">
                                <i class="nav-icon fas fa-list"></i>
                                <p>Yazar Paneli</p>
                            </a>
                        </li>
                        <li class="nav-item"
                            th:if="${#strings.contains(#authentication.authorities,'ADMIN') or #strings.contains(#authentication.authorities,'MODERATOR')}">
                            <a class="nav-link" th:href="@{/author/new}">
                                <i class="nav-icon fas fa-plus disabled"></i>
                                <p>Yazar Ekle</p>
                            </a>
                        </li>
                    </ul>
                </li>

                <li th:class="' nav-item has-treeview '+ ${#httpServletRequest.requestURI.contains('user') ? 'menu-open' : ''}"
                    th:if="${#strings.contains(#authentication.authorities,'ADMIN') or #strings.contains(#authentication.authorities,'MODERATOR')}">
                    <a th:class="' nav-link '+ ${#httpServletRequest.requestURI.contains('user') ? 'active' : ''}">
                        <i class="nav-icon fas fa-user"></i>
                        <p>
                            Kullanıcı
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a th:class="' nav-link '+ ${#httpServletRequest.requestURI.endsWith('/') ? 'active' : ''}"
                               th:href="@{/account/}">
                                <i class="nav-icon fas fa-list"></i>
                                <p>Kullanıcı Paneli</p>
                            </a>
                        </li>
                        <li class="nav-item"
                            th:if="${#strings.contains(#authentication.authorities,'ADMIN') or #strings.contains(#authentication.authorities,'MODERATOR')}">
                            <a class="nav-link" th:href="@{/account/new}">
                                <i class="nav-icon fas fa-plus"></i>
                                <p>Kullanıcı Ekle</p>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>
</body>
</html>
