<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

</head>
<body>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Panel</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Ana Sayfa</a></li>
                        <li class="breadcrumb-item active">Panel</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <!-- Small boxes (Stat box) -->
            <div class="row">
                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-info">
                        <div class="inner">
                            <!--/*@thymesVar id="totalBook" type="com.ftg.kutuphane.entitiy.Book"*/-->
                            <h3 th:text="${totalBook}"></h3>

                            <p>Kitap</p>
                        </div>
                        <div class="icon">
                            <i class="nav-icon fas fa-book"></i>
                        </div>
                        <a class="small-box-footer" th:href="@{/book/}">Detaylı Bilgi <i
                                class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-success">
                        <div class="inner">
                            <!--/*@thymesVar id="totalTotalPublisher" type="com.ftg.kutuphane.entitiy.Publisher"*/-->
                            <h3 th:text="${totalPublisher}"></h3>

                            <p>Yayın Evi</p>
                        </div>
                        <div class="icon">
                            <i class="nav-icon fas fa-home"></i>
                        </div>
                        <a class="small-box-footer" th:href="@{/publisher/}">Detaylı Bilgi <i
                                class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-warning">
                        <div class="inner">
                            <!--/*@thymesVar id="totalAuthor" type="com.ftg.kutuphane.entitiy.Author"*/-->
                            <h3 th:text="${totalAuthor}"></h3>

                            <p>Yazar</p>
                        </div>
                        <div class="icon">
                            <i class="nav-icon fas fa-pen"></i>
                        </div>
                        <a class="small-box-footer" th:href="@{/author/}">Detaylı Bilgi <i
                                class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-danger">
                        <div class="inner">
                            <!--/*@thymesVar id="totalUser" type="com.ftg.kutuphane.entitiy.Account"*/-->
                            <h3 th:text="${totalUser}"></h3>

                            <p>Kullanıcı</p>
                        </div>
                        <div class="icon">
                            <i class="nav-icon fas fa-user"></i>
                        </div>
                        <a
                           class="small-box-footer" th:href="@{/user/}">Detaylı Bilgi <i
                                class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <!-- ./col -->
            </div>
            <!-- /.row -->
            <!-- Main row -->
            <div class="row">
                <div class="col-lg-3 col-lg-12">
                    <!-- TABLE: Top 5 Books -->
                    <div class="card">
                        <div class="card-header border-transparent">
                            <h3 class="card-title">Son Eklenen Kitaplar</h3>

                            <div class="card-tools">
                                <button class="btn btn-tool" data-card-widget="collapse" type="button">
                                    <i class="fas fa-minus"></i>
                                </button>
                                <button class="btn btn-tool" data-card-widget="remove" type="button">
                                    <i class="fas fa-times"></i>
                                </button>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body p-0">
                            <div class="table-responsive">
                                <table class="table m-0">
                                    <thead>
                                    <tr>
                                        <th>Adı</th>
                                        <th>ISBN</th>
                                        <th>Yazar</th>
                                        <th>Yayın Evi</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <!--/*@thymesVar id="book" type="com.ftg.kutuphane.entitiy.Book"*/-->
                                    <tr th:each="book:${top5Book}" th:value="${book.getId()}">
                                        <td th:text="${book.getName()}"></td>
                                        <td th:text="${book.getIsbn()}"></td>
                                        <td th:text="${book.getAuthor().getName()}"></td>
                                        <td th:text="${book.getPublisher().getName()}"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer clearfix">
                            <a th:class="'btn btn-sm btn-outline-primary btn-sm float-left '+${#strings.contains(#authentication.principal.authorities,'ADMIN') or #strings.contains(#authentication.principal.authorities,'MODERATOR') ? '' : 'disabled'}"
                               th:href="@{/book/new}">Yeni
                                Kitap Ekle</a>
                            <a th:class="'btn btn-sm btn-outline-secondary btn-lg float-right '+${#strings.contains(#authentication.principal.authorities,'ADMIN') or #strings.contains(#authentication.principal.authorities,'MODERATOR') or #strings.contains(#authentication.principal.authorities,'USER') ? '' : 'disabled'}"
                               th:href="@{/book/}">Bütün
                                Kitapları Gör</a>
                        </div>
                        <!-- /.card-footer -->
                    </div>
                    <!-- /.card -->
                </div>
                <div class="col-lg-3 col-lg-12">
                    <!-- TABLE: Top 5 Publishers -->
                    <div class="card">
                        <div class="card-header border-transparent">
                            <h3 class="card-title">Son Eklenen Yayın Evleri</h3>

                            <div class="card-tools">
                                <button class="btn btn-tool" data-card-widget="collapse" type="button">
                                    <i class="fas fa-minus"></i>
                                </button>
                                <button class="btn btn-tool" data-card-widget="remove" type="button">
                                    <i class="fas fa-times"></i>
                                </button>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body p-0">
                            <div class="table-responsive">
                                <table class="table m-0">
                                    <thead>
                                    <tr>
                                        <th>Adı</th>
                                        <th>Toplam Kitap Sayısı</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <!--/*@thymesVar id="publisher" type="com.ftg.kutuphane.entitiy.Publisher"*/-->
                                    <tr th:each="publisher:${top5Publisher}" th:value="${publisher.getId()}">
                                        <td th:text="${publisher.getName()}"></td>
                                        <td th:text="${publisher.getBooks.size()}"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer clearfix">
                            <a th:class="'btn btn-sm btn-outline-primary btn-sm float-left '+${#strings.contains(#authentication.principal.authorities,'ADMIN') or #strings.contains(#authentication.principal.authorities,'MODERATOR') ? '' : 'disabled'}"
                               th:href="@{/publisher/new}">Yeni
                                Yayın Evi Ekle</a>
                            <a th:class="'btn btn-sm btn-outline-secondary btn-lg float-right '+${#strings.contains(#authentication.principal.authorities,'ADMIN') or #strings.contains(#authentication.principal.authorities,'MODERATOR') or #strings.contains(#authentication.principal.authorities,'USER') ? '' : 'disabled'}"
                               th:href="@{/publisher/}">Bütün
                                Yayın Evlerini Gör</a>
                        </div>
                        <!-- /.card-footer -->
                    </div>
                    <!-- /.card -->
                </div>
                <div class="col-lg-3 col-lg-12">
                    <!-- TABLE: Top 5 Authors -->
                    <div class="card">
                        <div class="card-header border-transparent">
                            <h3 class="card-title">Son Eklenen Yazarlar</h3>

                            <div class="card-tools">
                                <button class="btn btn-tool" data-card-widget="collapse" type="button">
                                    <i class="fas fa-minus"></i>
                                </button>
                                <button class="btn btn-tool" data-card-widget="remove" type="button">
                                    <i class="fas fa-times"></i>
                                </button>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body p-0">
                            <div class="table-responsive">
                                <table class="table m-0">
                                    <thead>
                                    <tr>
                                        <th>Adı</th>
                                        <th>Soyadı</th>
                                        <th>Açıklama</th>
                                        <th>Toplam Kitap Sayısı</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <!--/*@thymesVar id="author" type="com.ftg.kutuphane.entitiy.Author"*/-->
                                    <tr th:each="author:${top5Author}" th:value="${author.getId()}">
                                        <td th:text="${author.getName()}"></td>
                                        <td th:text="${author.getLastName()}"></td>
                                        <td th:if="${author.getDescription()}"
                                            th:text="${author.getDescription().length() < 150} ? ${author.getDescription()} : ${author.getDescription().substring(0,150) + '...'} "></td>
                                        <td th:text="${author.getBooks.size()}"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer clearfix">
                            <a th:class="'btn btn-sm btn-outline-primary btn-sm float-left '+${#strings.contains(#authentication.principal.authorities,'ADMIN') or #strings.contains(#authentication.principal.authorities,'MODERATOR') ? '' : 'disabled'}"
                               th:href="@{/author/new}">Yeni
                                Yazar Ekle</a>
                            <a th:class="'btn btn-sm btn-outline-secondary btn-lg float-right '+${#strings.contains(#authentication.principal.authorities,'ADMIN') or #strings.contains(#authentication.principal.authorities,'MODERATOR') or #strings.contains(#authentication.principal.authorities,'USER') ? '' : 'disabled'}"
                               th:href="@{/author/}">Bütün
                                Yazarları Gör</a>
                        </div>
                        <!-- /.card-footer -->
                    </div>
                    <!-- /.card -->
                </div>
            </div>
            <!-- /.row (main row) -->
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
</body>
</html>
